:root {
  --color-1: #fcee4b;
  --color-2: #bdb47c;
  --color-3: #faf1cb;
  --color-4: #005247;
}

.google-map {
}

.map-marker {
}

.flex {
}

.header {
}

.button {
}

.button--small {
}

.button--med {
}

.button--large {
}

.img {
}

.label {
}

.input {
}

.person-list {
}
